@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(246, 248, 252);
}

.container-1200 {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.container-1000 {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.container-800 {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
